:root {
  --color-background: #fcfcfa;
  --color-text: #444444;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #444444;
    --color-text: #f9f9f9;
  }
}

body {
  background: var(--color-background);
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.8;
  font-size: 20px;
  color: var(--color-text);
  padding: 40pt 40pt 40pt 40pt;
}

h1, h2, h3 {
  text-align: center;
  line-height: 1.4
}

a {
  border-bottom: 1px solid var(--color-text);
  color: var(--color-text);
  text-decoration: none;
}

a:hover {
  border-bottom: 0;
}
